body {
  ul {
    margin-right: solid  20px;
    padding-top: 2px;
    margin-left: 2px;
  }

  lista { display: block; }

  lista2 {
    display: block;
    padding-bottom: 1px 10px;
    
  }
}

